body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  text-align: center;
}

header {
  background: #198754;
  color: white;
  padding: 20px;
}

main {
  padding: 30px;
}

.card {
  background: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

button {
  background: #198754;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 15px;
}

footer {
  margin-top: 40px;
  background: #eee;
  padding: 10px;
}
